body{
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login_box{
    background-color: #ffffff;
    border-radius: 10px;
    text-decoration:underline;
}