*{
    padding: 0;
    margin: 0;
}

div{
    background-color: #0f1111;
    height: 60px;
}

#logo{
    font-size: 25px;
    color: #f08840;
}

.links{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}

#button{
    background-color: #f08840;
    color: white;
}